name: Create release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    outputs:
      release_created: ${{ steps.rp.outputs.release_created }}
      tag_name: ${{ steps.rp.outputs.tag_name }}
      upload_url: ${{ steps.rp.outputs.upload_url }}
    steps:
      - name: Release pleaseps
        id: rp
        uses: googleapis/release-please-action@v4
        with:
          release-type: python

  build-upload:
    name: Build and upload
    runs-on: ubuntu-latest
    needs: release
    if: ${{ needs.release.outputs.release_created }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Prepare package name
        id: prepare
        run: |
          PKG_NAME=$(echo "${{ github.event.repository.name }}" | sed -e 's|\.|_|g')
          VERSION=$(echo "${{ needs.release.outputs.tag_name }}" | sed -e 's|^v||')
          echo "package=$PKG_NAME-$VERSION" >> $GITHUB_OUTPUT
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.18"
      - name: Set up Python
        run: uv python install
      - name: Build Python package
        run: uv build
      - name: Upload archive and wheel
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ needs.release.outputs.tag_name }} \
            ./dist/${{ steps.prepare.outputs.package }}.tar.gz \
            ./dist/${{ steps.prepare.outputs.package }}-py3-none-any.whl
