name: Create release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    outputs:
      release_created: ${{ steps.rp.outputs.release_created }}
      tag_name: ${{ steps.rp.outputs.tag_name }}
      upload_url: ${{ steps.rp.outputs.upload_url }}
    steps:
      - name: Release pleaseps
        id: rp
        uses: googleapis/release-please-action@v4
        with:
          release-type: python
